.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation-bar {
  background-color: #333;
  padding: 10px;
}

.navigation-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navigation-bar li {
  display: inline;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
}

.body {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
.container {
  margin-top: 50px;
}

.content-box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.dropdown-button {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-row button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.button-row button:last-child {
  margin-right: 0;
}